@mainheight: 96vh;
@toolbarcolor: #d2deed;
@menucolor: #e8eff6;

html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: #107eff;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
}

header {
	height: 4vh;
	background: @toolbarcolor;
}

#main {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;

	height: @mainheight;

	position: relative;

	& > * {
		height: @mainheight;
	}
}

#toolbar {
	width: 100px;
	position: relative;

	background: @toolbarcolor;
}

#elements {
	height: @mainheight;

	top: 0px;
	left: 100px;

	z-index: 1;

	li {
		padding: 16px;
		margin: 16px;
		border-radius: 4px;

		background-color: rgba(255, 255, 255, 0.4);
	}
}

#props {
	width: 450px;
	padding: 16px;

	right: 0px;
}

#props, #elements {
	width: 450px;
	position: absolute;

	background-color: @menucolor;

	display: none;
}

.panel {
	width: 100px;
	height: 100px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	user-select: none;

	&:hover {
		background-color: @menucolor;
	}

	img {
		width: 25px;
		height: 25px;
	}
}

#cell {
	width: 75vw;
	height: 75vh;
	border: 1px solid black;
	position: relative;

	background: linear-gradient(rgba(255, 0, 0, 0.4), transparent 1px),
		linear-gradient(90deg, rgba(255, 0, 0, 0.4), transparent 1px);
	background-size: 25px 25px;

	#slider-grid-size {
		padding: 4px;
		border-radius: 4px;

		position: absolute;
		bottom: 16px;
		right: 16px;

		background: @menucolor;
	}
}

.wrapper-elements {
	display: inline-block;
	margin: 16px;
	padding: 16px;
	border-radius: 4px;

	background-color: white;
}

