@import "import/main";
@import "import/btns";
@import "import/props";
@import "import/workspace";
@import "import/toolbar";

#main {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;

	height: @mainheight;

	position: relative;

	& > * {
		height: @mainheight;
	}
}
